*{
    padding: 0;
    margin: 0;
}
.base{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .formulario{
        width: 30%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid white;
        background-color: gold;
        .titulo{
           
            text-align: center;
            
        }
        .form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 7px;
            input{
                padding: 10px;
                margin-top: 7px;
                border-radius: 2px;
                border: 1px solid black;
                outline: none;
                font-size: 10px;
                font-family: 'Times New Roman', Times, serif;
                font-style: normal;
                font-weight: bold;
            }
            label{
                font-size: 12pt;
                font-family: 'Times New Roman', Times, serif;
            }
            button{
                padding: 10px;
                border-radius: 8px;
                border: none;
                background-color: blue;
                color: black;
                font-size: 14px;
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                margin-bottom: 3%;
                cursor: pointer;
            }
        }
    }
}
     